@import url("global2.css");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
    height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
  text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Quicksand", cursive;
    max-width: 1200px;
    width: 100%;
    height: 70%;
    padding: 24px;
}

.login {
  width: 100%;
  max-width: 800px;
  background-color: var(--form-bg-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  position: relative;
  left: 550px;
}

.login__actions {
  margin-top: 24px;
  text-align: left;
}

.login__field {
  background: var(--form-field-bg-color);
  border: var(--form-field-border);
  border-radius: 8px;
  color: var(--text-color);
  padding: 16px;
  font-size: 1rem;
}

.login__link {
  color: var(--link-color);
  text-decoration: none;
  margin-left: 24px;
  font-weight: bold;
}

.button.button--gradient {
  background: var(--btn-bg-color-gradient);
  outline: 3px solid transparent;
  transition: background 1s, outline 1s, transform 1s;
  background-size: 250%;
}
.button {
  padding: 16px 40px;
  background-color: var(--tertiary-color);
  border-radius: 500px;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  border: none;
  cursor: pointer;
}

.login__label {
  text-align: left;
}

.login__title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 24px;
}

.menu {
    position: relative;
    width: 100%;
    padding: 12px 16px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg-color);
    z-index: 1;
}

.menu__logo {
  max-width: 160px;
}

.menu__logo-image {
  width: 100%;
}

.menu__item {
  margin-right: 24px;
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu__item--button {
  padding: 8px 26px;
  transition: background 1s, color 1s;
}

.login {
    width: 100%;
    max-width: 800px;
    background-color: var(--form-bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
}
  
.login__title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 24px;
}
  
.login__label {
    text-align: left;
}
  
.login__field {
    background: var(--form-field-bg-color);
    border: var(--form-field-border);
    border-radius: 8px;
    color: var(--text-color);
    padding: 16px;
    font-size: 1rem;
}
  
.login__field::placeholder {
    color: var(--form-field-placeholder);
}
  
.login__field:invalid {
    border-color: var(--form-field-error);
}
  
.login__actions {
    margin-top: 24px;
    text-align: left;
}
  
  .login__link {
    color: var(--link-color);
    text-decoration: none;
    margin-left: 24px;
    font-weight: bold;
}

.footer__link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--link-color);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 14px;
  letter-spacing: 2px;
  transition: color 0.5s;
  font-size: 0.875rem;
}
  
.footer__legal {
  font-size: 0.75rem;
  margin: 16px 0;
  color: var(--link-color);
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

  /* Media Queries */
  
  @media screen and (max-width: 480px) {
    body {
      height: auto;
    }
  
    .login__actions .button {
      display: block;
      margin-bottom: 24px;
    }
  
    .login__link {
      margin: 0;
    }
}